* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


* {
	font-family: 'Noto Sans';
}

#name {
	color: white;
}

#home {
	background-color: #242829;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23798A8C' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23646D6F'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

/*#first-project {
	background-color: rgba(82, 78, 183, .5);
	border-radius: 5px;
	height: auto;
	width: auto;


}*/

.jumbotron {
	height: 100vh;
	background-color: rgba(82, 78, 183, .5);
	color: whitesmoke;
	margin: auto;
}


#name {
	font-family: 'Montserrat'; !important
	font-weight: bold;
}

.projects-title:hover {
  text-shadow:3px 1px 15px whitesmoke;
}

.dive {
	border: solid 5px;
	border-color: rgba(82, 78, 183, .5);
	-webkit-box-shadow: 3px 1px 15px 20px rgba(0,0,0,0.17); 
	box-shadow: 3px 1px 15px 20px rgba(0,0,0,0.17);
	margin: 2rem;
}

.dolphin {
	border: solid 5px;
	border-color: rgba(82, 78, 183, .5);
	-webkit-box-shadow: 3px 1px 15px 20px rgba(0,0,0,0.17); 
	box-shadow: 3px 1px 15px 20px rgba(0,0,0,0.17);
	margin: 2rem;
}

.dolphin:hover {
	border-color: lightblue; !important
	border: solid 20px;
	box-shadow: 3px 1px 15px 20px rgba(255,255,255,0.17);
}

#nav {  
    background-color: #080607;
    filter: opacity(90%);  
    border-radius: 5rem;   
}

h1 {
	font-family: 'Montserrat' !important;
}

html {
	scroll-behavior: smooth;
}


#about-me {
	background-color: rgba(82, 78, 183, .5);
	border-radius: 5rem;
	margin: 2rem 2rem 2rem	2rem;
	-webkit-box-shadow: 3px 1px 15px 20px rgba(0,0,0,0.17); 
	box-shadow: 3px 1px 15px 20px rgba(0,0,0,0.17);
	height: auto;
}


#about-me:hover{
	box-shadow: 3px 1px 15px 20px rgba(255,255,255,0.17);
}

.card {
	border-radius: 30px !important;
    padding: 15px !important;
    width: 18rem !important;
    -webkit-box-shadow: 3px 1px 15px 20px rgba(0,0,0,0.17); 
    box-shadow: 3px 1px 15px 20px rgba(0,0,0,0.17);
}

.card:hover {
	box-shadow: 3px 1px 15px 20px rgba(255,255,255,0.17);
}

/*#projects {
	background-color: rgba(82, 78, 183, .5);
}
*/

#contact-us {
	width: auto;
	background-color: #E7F9FF;
	border-radius: 2rem;
	-webkit-box-shadow: 3px 1px 15px 20px rgba(0,0,0,0.17); 
	box-shadow: 3px 1px 15px 20px rgba(0,0,0,0.17);
}

/*#contact-us:hover {
	box-shadow: 3px 1px 15px 20px rgba(255,255,255,0.17);
}*/

#welcome {
	background-color: #E7F9FF;
	border-radius: 2rem;
}

.brightness img:hover {
	opacity: .5;
	border-color: white;

}

.footer-1 {
background-color: gray;
filter: opacity(90%);  
}


.card {
	background-color: rgba(82, 78, 183, .5);
	height: auto;
	width: auto;
}

.card-1 {
	background-color: rgba(82, 78, 183, .5);
	height: auto; !important
	width: auto; !important
}

#form {
	background-color: rgba(82, 78, 183, .5);
	border-radius: 2.5rem;
}

#form:hover {
	box-shadow: 3px 1px 15px 20px rgba(255,255,255,0.17);
}


